<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="mb-4" style="font-weight:bold; font-size:45px; text-align: center; font-family: serif;"><strong><i class="fa-solid fa-bone"></i> お悩み内容変更 <i class="fa-solid fa-bone"></i></strong></h2>

      <%= form_with model: @category, url: trainer_category_path, method: :patch, html: { id: "category_form" } do |f| %>
        <div class="form-row align-items-center">
          <div class="col-md-3 mb-1 text-md-right mx-auto">
            <strong><%= f.label :name, "ジャンル名" %></strong>
          </div>
          <div class="col-md-5 mb-1 mx-auto">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="col-md-2 mb-2 mx-auto">
            <a href="#" class="btn7" onclick="submitForm()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M48 96V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V170.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H309.5c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8V184c0 13.3-10.7 24-24 24H104c-13.3 0-24-10.7-24-24V80H64c-8.8 0-16 7.2-16 16zm80-16v80H272V80H128zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"></path>
              </svg>
              <span><strong>保存</strong></span>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .btn7 {
    position: relative;
    display: grid;
    place-content: center;
    width: 150px;
    height: 38px;
    border-radius: 5px;
    background-color: green;
    text-align: center;
    text-decoration: none;
    transition: 1s all;
}


.btn7 svg {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 20px;
    fill: #353535;
    transition: .5s all;
    opacity: 0;
}

.btn7 span {
    color: #353535;
    text-align: center;
    z-index: 1;
}

.btn7:hover span {
    animation: textAnime 1s linear forwards;
}

.btn7:hover svg {
    animation: iconAnime 1s 0.7s linear forwards;
}

@keyframes textAnime {
    0% {
        transform: scaleX(1);
    }

    50% {
        font-weight: bold;
        transform: scaleX(1.3);
        opacity: 1;
    }

    100% {
        transform: scaleX(0.3);
        opacity: 0;
    }

}

@keyframes iconAnime {
    0% {
        opacity: 1;
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
    }

}
</style>

<script>
  function submitForm() {
    document.getElementById("category_form").submit();
  }
</script>
