<%= image_tag "pet_create.jpeg", style: "width: 100%; height: auto;", alt: "ãƒšãƒƒãƒˆç”»åƒ" %>
<% if @pet.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h4>
    <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row mt-4">
    <%= render partial: 'public/owner/shared/pet_form', locals: { pet: @pet, title: 'ðŸ”³ãƒžã‚¤ãƒšãƒƒãƒˆæ–°è¦ç™»éŒ²', url: owner_my_page_path, method: :post, new_registration: @new_registration } %>
  </div>
</div>
